.flex-container {
    display: inline-flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: DodgerBlue;
}

.flex-container>div {
    background-color: yellowgreen;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}