.container-box {
    display: inline-flex;
    width: 500px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    background-color: red;

}

.box-1 {
    background-color: green;
    width: 93px;
    height: 90px;
}
.box-2{
width: 100px;
height: 100px;
background: yellowgreen;
}