/*.container {
    display: flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    flex-direction: column;
}*/

.box1 {
  background-color: green;
    width: 80px;
    line-height: 80px;
    text-align: center;
}

.box2 {
background-color: orange;
   line-height: 80px;
   width: 400px;
   
}
/*.container {
    display: inline-flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    flex-direction:column;
    justify-content: space-between;  
}  */
/*.container {
    display: inline-flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: flex-end;
} */

/*.container {
    display: inline-flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    justify-content: space-around;
    align-items: flex-start;
} */
 .container {
    display: flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
 
    align-items: flex-end;
} 

/*练习10 .container {
    display: flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    flex-direction:row;
    justify-content: center;
    align-items:first baseline ;
} */