.container {
    display: flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
   justify-content: space-between;
   align-items: flex-end;
}

.box1 {
  background-color: green;
    width: 80px;
    line-height: 80px;
   
}

.box2 {
background-color: orange;
   line-height: 80px;
   width: 400px;
}
/*练习12.container {
    display: inline-flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    flex-direction:column;
    justify-content: space-between;  
}  */
/* 练习14.container {
    display: inline-flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: flex-end;
} */

/*练习11 .container {
    display: inline-flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    justify-content: space-around;
    align-items: flex-start;
} */
/*练习10 .container {
    display: flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    justify-content: center;
    align-items: flex-start;
} */

/*练习10 .container {
    display: flex;
    width: 500px;
    height: 300px;
    background-color: blueviolet;
    flex-direction:row;
    justify-content: center;
    align-items:first baseline ;
} */