h1{
    color: green;
}
.blue{
  
    color: hsla(0,100%,50%,0);
}
body{
    color: red;
    font-size: 20px;
}
.box{
    height: 100px;
    width: 2rem;
    padding: 20px;
    margin: 50px;
    border: 10px solid green;
    background-color: #f3fe3f;
}