body,
ul,
li,
span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #999;
    list-style: none;
}

/*.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}*/

.top-bar-wrapper {
    width: 100%;
    background-color: #E3E4E5;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}

.top-bar {
    width: 1190px;
    margin: 0 auto;
    position: relative;
}

.top-bar a,
.top-bar span {
    color: #999;
    text-decoration: none;
}

.top-bar a:hover,
.top-bar a.highlight {
    color: red;
}

.location {
    float: left;
}

/*.location .city-list {
    display: none;
    width: 320px;
    height: 436px;
    background-color: gray;
    border: 1px solid rgb(204, 204, 204);
    position: absolute;
    top: 31px;
    box-shadow: 0 2PX 2px rgba(0, 0, 0, 2);
    border-bottom: none;
}*/
/*.location:hover .city-list {
    display: block;
}*/

/*.current-city {
    padding: 0 10px;
}*/

/*.current-city:hover {
    background-color: wheat;
    border: 1px solid rgba(203, 203, 203);
    border-bottom: none;
}*/

.shortcut {
    float: right;
}

.shortcut li {
    float: left;
}

.shortcut .line {
    width: 1px;
    height: 10px;
    background-color: #999;
    margin: 10px 12px;
}